.displayTodos {

    margin:5px;
    padding:10px;
    position: absolute;
    top:200px;
    left:260px;
    width:50%;

}
.displayTodos ul{

    list-style-type: square;

}
.todo{

    display: flex;
    flex-direction: row;
 

}
.todo li{

    font-size: 25px;

}
.todo .link{

    margin:10px;
    padding:10px;
    font-size: 25px;

}
.todo button{

    margin-left: 100px;
    padding:10px;
    border-radius:5px solid grey;
    border:5px;
    font-size: 25px;

}
.displayTodos table{

    margin:10px;
    padding:10px;
    background-color:lightblue;
    width:100%;

}
.displayTodos table tr{


    margin:5px;
    padding:5px;
   

}
.displayTodos table tr td {

    margin:10px;
    padding:10px;
   

}
.link {

    list-style-type:none;

}